.app-container {
  display: flex;
  height: -webkit-fill-available;
  flex-direction: row;
  justify-content: center;
}

.home {
  margin-top: 64px;
  padding-left: 24px;
  padding-right: 24px;
  width: 500px;
}

.home-title {
  color: brown;
  font-family: cursive;
  font-size: 36px;
}

.home-description {
  color: #484848;
  font-family: unicorn;
  font-size: 24px;
  line-height: 36px;
  margin-top: 36px;
  word-spacing: 6px;
}

br {
  line-height: 48px;
}

.home-button {
  align-items: center;
  background-color: bisque;
  border-radius: 8px;
  color: brown;
  cursor: pointer;
  display: flex;
  font-family: monospace;
  font-size: 18px;
  justify-content: center;
  height: 48px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-top: 24px;
  width: 136px;
}

.home-button:hover {
  background-color: gold;
  color: darkblue;
}

.treasure-hunt-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: center;
}

.treasure-hunt-title {
  color: brown;
  font-family: unicorn;
  font-size: 40px;
  word-spacing: 6px;
}

.treasure-hunt-description {
  color: lightgray;
  font-family: unicorn;
  font-size: 32px;
  margin-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  word-spacing: 6px;
}

.input-code {
  caret-color: lightgray;
  color: #484848;
  border: none;
  font-family: unicorn;
  font-size: 24px;
  margin-top: 16px;
  outline: none;
  text-align: center;
  width: 96px;
  word-spacing: 6px;
}

.input-code:focus {
  color: #282c34;
  border-radius: 16px;
  letter-spacing: 8px;
}

.input-code-error:focus {
  border: 1px solid orangered;
}

.code-pointer {
  font-size: 24px;
  animation: pointer 10s;
}

.poster-container {
  align-items: center;
  bottom: 0;
  background-color: #15f4ee;
  color: brown;
  display: flex;
  font-size: 32px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.poster-shine {
  position: fixed;
  height: 56px;
  transform: rotate(20deg);
  width: 200%;
}

.poster-title {
  animation: grow 2s;
}

.poster-shine {
  top: 120%;
  animation: slide 2s linear;
}

.upper-gradient {
  height: 50%;
  width: 100%;
  background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.2));
}

.lower-gradient {
  height: 50%;
  width: 100%;
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0));
}

.yes-button, .no-button {
  background-color: brown;
  border-radius: 8px;
  color: white;
  display: inline-block;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin-right: 24px;
  margin-top: 16px;
  text-align: center;
  text-decoration: none;
  width: 84px;
}

@keyframes grow {
  0%{ font-size: 8px }
  100%{ font-size: 32px }
}

@keyframes slide {
  0%{ top: 120%; }
  100%{ top: -20%; }
}

@font-face {
  font-family: unicorn;
  src: url(unicorn.ttf);
}

@keyframes pointer {
  0%{ margin-top: 0 }
  10%{ margin-top: 36px }
  20%{ margin-top: 0 }
  30%{ margin-top: 36px }
  40%{ margin-top: 0 }
  50%{ margin-top: 36px }
  60%{ margin-top: 0 }
  70%{ margin-top: 36px }
  80%{ margin-top: 0 }
  90%{ margin-top: 36px }
  100%{ margin-top: 0 }
}
